*{
    margin:0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Noto Sans SC', sans-serif;
}
h1 , h2{
    font-size: 30px;
    text-align: center;
    padding: 20px;
}
p{
    font-size: 22px;
    margin-left:10px;
    margin-right:10px;
}
strong{
    color: rgb(189, 82, 11);
}
/* HEADER*/
.responsive-ul{
    display:flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: rgb(0, 0, 0);
    margin: 0;
}
.responsive-li{
    font-size: 20px;
    padding: 20px;
}
.responsive-li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.logo{
    font-size: 30px;
    color: rgb(189, 82, 11);
    text-align: start;
    margin-right: 80px;
}
/*INICIO*/
.sugerencias{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.sugerencias img{
    display: flex;
    margin: 3px;
    width: 200px;
    height: 200px;
}
.d-block{
    width: 100%;
    height: 700px;
}
/*MENU*/

button.btn {
    background-color: rgb(189, 82, 11);
    border: none;
    width: auto;
    border-radius: none;
    
}
button.btn a{
    text-decoration: none;
    list-style: none;
    color: black;
}
.menu-opciones{
    display: flex;
}
.menu-opciones div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:40px;
    margin-bottom: 100px;
    border: none;
}
.menu-opciones img{
    width:350px;
    height: 450px;
}
.boton-estilo{
    width: 350px;
    height: 40px;
    color: rgb(189, 82, 11);
    background: black;
    border:1px solid rgb(189, 82, 11);
}
.boton-estilo a{
    list-style: none;
}
button.btn{
    color: red;
}
.container img{
    width: 200px;
    height: 200px;

}
.cards img{
    width: 500px;
    height: 200px;
}
.titulo-tarjeta{
    font-size: 25px;
    color: rgb(189, 82, 11);
}
.linea{
    background-image: url(https://popmenucloud.com/ckfbqnia/cdaa464b-da11-4c5f-b275-15cdfffbd18e.png);
    width: 280px;
    height: 40px;
    background-size: cover;
    margin: auto;
    margin-bottom: 80px;
}
/*RESERVAS*/ /*NOSOTROS*/
form{
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    background: black;
    width: 700px;
    border-radius: 5px;
}
.formulario{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
input, select{
    padding: 10px;
    border: 2px solid rgb(189, 82, 11);
    border-radius: 5px;
    width:650px;
    margin-top: 20px;
    height: 40px;
}
label{
    color: white;
}
.formulario button{
    margin-top:30px ;
    width: 80px;
    height: 40px;
    border-radius: 6px;
    background-color: rgb(189, 82, 11);
    border: none;
}
/*LOCATIONS*/
.img-mapa{
    width: 80vw;
    height: 80vh;
    margin: auto;
    background-image: url(https://popmenucloud.com/cdn-cgi/image/width%3D1440%2Cheight%3D1440%2Cfit%3Dscale-down%2Cformat%3Dauto%2Cquality%3D60/ckfbqnia/4966d5b9-451b-473e-b693-828ce41e1229.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
/*FOOTER*/
footer{
    background: rgb(0, 0, 0);
    height: 250px;
}
.footer{
    display: grid;
    grid-template-columns: repeat(3,250px);
    gap:10% ;
    justify-content: center;
}
.footer h3{
    color: white;
    padding-top: 50px;
    font-size: 30px;
    color:rgb(189, 82, 11) ;
}
.footer p{
    color: white;
    font-size: 18px;  
    margin: -1px;  
}
.iconos-footer-ul{
    display: flex;
    flex-direction: row;
    justify-content: start;  
}
.iconos-footer-ul li{
    display: flex;
    font-size: 20px;
    margin: 7px;
}
.iconos-footer-ul i{
    color:rgb(189, 82, 11);
}

/*MOBILE
@media screen and(min-width:480px){
    h1 , h2{
        font-size: 15px;
        text-align: center;
        padding: 10px;
    }
    p{
        font-size: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .responsive-ul{
        flex-direction: column;
    }
    .responsive-li{
        font-size: 15px;
        padding: 15px;
    }
    .d-block{
        width: 100%;
        height: 200px;
    }
    .footer{
        display: grid;
        grid-template-columns: repeat(3,100px);
        gap:5% ;
        justify-content: center;
    }
    .footer h3{
        color: white;
        padding-top: 22px;
        font-size: 15px;
        color:rgb(189, 82, 11) ;
    }
    .footer p{
        color: white;
        font-size: 12px;  
        margin: -1px;  
    }
    .iconos-footer-ul{
        display: flex;
        flex-direction: row;
        justify-content: center;  
    }
    .iconos-footer-ul li{
        font-size: 12px;
        margin: 4px;
    }
    .iconos-footer-ul i{
        color:rgb(189, 82, 11);
    }
}*/

/*TABLETAS*/
@media screen and (max-width:600px){
    h1 , h2{
        font-size: 18px;
        text-align: center;
        padding: 10px;
    }
    p{
        font-size: 15px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .logo{
        margin: auto;
    }
    .responsive-ul{
        flex-direction: column;
    }
    .responsive-li{
        font-size: 17px;
        padding: 15px;
    }
    .d-block{
        width: 100%;
        height: 300px;
    }
    .sugerencias img{
        width: 100px;
        height: 100px;
    }
    .menu-opciones{
        flex-direction: column;
    }
    .menu-opciones div{
        margin: 0;
    }
    .menu-opciones img{
        width: 100%;
        height: 300px;
    }

    form{
        padding-left: 30px;
        padding-top: 20px;
        padding-bottom: 30px;
        background: black;
        width: 400px;
        border-radius: 5px;
    }
    .formulario{
        flex-direction: row;
        justify-content: space-around;
    }
    input, select{
        display:flex;
        padding: 10px;
        border: 2px solid rgb(189, 82, 11);
        border-radius: 5px;
        width:300px;
        margin-top: 20px;
        height: 40px;
        margin: 10px;
    }
    label{
        color: white;
        margin: 10px;
    }
    .formulario button{
        margin-top:20px ;
        width: 80px;
        height: 40px;
        border-radius: 6px;
        background-color: rgb(189, 82, 11);
        border: none;
    }
    .footer{
        display: grid;
        grid-template-columns: repeat(3,100px);
        gap:5% ;
        justify-content: center;
    }
    .footer h3{
        color: white;
        padding-top: 22px;
        font-size: 15px;
        color:rgb(189, 82, 11) ;
    }
    .footer p{
        color: white;
        font-size: 12px;  
        margin: -1px;  
    }
    .iconos-footer-ul{
        display: flex;
        flex-direction: row;
        justify-content: center;  
    }
    .iconos-footer-ul li{
        font-size: 12px;
        margin: 4px;
    }
    .iconos-footer-ul i{
        color:rgb(189, 82, 11);
    }
}
    










/*grid y mobile
.grid{
    display: grid;
    grid-template-columns: 300px 200px 200px 100px;
    grid-template-rows: 300px 90px 150px  ;
    grid-template-areas:
    "nav header header"
    "nav productos aside"
    "nav servicios aside" 
    "footer footer footer";
    margin: 20px;
}
header{
    grid-area: header;
    border: 1px solid black;
    background: lightgreen;
}
nav{
    grid-area: nav;
    border: 1px solid black;
    background: lightsalmon;
}
aside{
    grid-area: aside;
    border: 1px solid black;
    background: lightskyblue;

}
footer{
    grid-area: footer;
    border: 1px solid black;
    background: lightpink;

}
.productos{
    grid-area:productos ;
    border: 1px solid black;
    background: lawngreen;
}
.servicios{
    grid-area: servicios;
    border: 1px solid black;
    background: lightseagreen;
}
@media screen and (min-width:700px) {
    
    .grid-inicio{
    display: grid;
    grid-template-columns: 300px 200px 200px 100px;
    grid-template-rows: 300px 90px 150px  ;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "servicios servicios aside" 
    "productos productos aside"
    "footer footer footer";
    margin: 20px;
    }
    .border{
        border: 2px solid red;
    }

    
}
@media screen and(min-width:1200px) {
    .grid{
        display: grid;
        grid-template-columns: 300px 200px 200px 100px;
        grid-template-rows: 300px 90px 150px  ;
        grid-template-areas:
        "header header header header header"
        "nav productos productos productos aside"
        "nav servicios servicios servicios aside" 
        "footer footer footer footer footer";
        margin: 20px;
        }
        .border{
            border: 2px solid rgb(19, 7, 129);
        }

    
}
*/







